<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edge Scheduler</title>
  </head>
  <body style="margin: 0; padding: 0; font-family: Arial, sans-serif">
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="640px"
      style="background-color: #f0f0f0; margin: 20px auto"
    >
      <tr>
        <td align="center" style="padding: 20px 0">
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="600"
            style="background-color: #ffffff; border-radius: 10px"
          >
            <tr>
              <td
                colspan="3"
                height="100"
                style="
                  background-color: #ffffff;
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                  border-bottom: 5px solid #d8d8d8;
                  text-align: center;
                  padding: 20px;
                "
              >
                <span style="color: #00adef; font-weight: bolder; font-size: 40px">Edge</span>&nbsp;<span
                  style="color: #80cc28; font-weight: bolder; font-size: 40px"
                  >sch</span
                ><span style="color: #f1511b; font-weight: bolder; font-size: 40px">edu</span
                ><span style="color: #fbbc09; font-weight: bolder; font-size: 40px">ler</span>
              </td>
            </tr>
            <!-- Content -->
            <tr>
              <td colspan="3" style="padding: 10px 20px 0px 20px">
                <br />
                <span style="font-weight: bold">Hello!</span>
                <br />
                <br />
                <span
                  style="font-weight: bold"
                  th:text="${organizerName} + ' changed the meeting time. Below are the details.'"
                  >KJK changed the meeting time. Below are the details.</span
                >
              </td>
            </tr>
            <tr>
              <td width="100" height="150" style="padding: 10px 20px; vertical-align: middle">
                <table
                  style="width: 100%; height: 60%; box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.1); border-radius: 10px"
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tr>
                    <td
                      style="
                        background-color: #00adef;
                        height: 25px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        text-align: center;
                        color: white;
                        font-weight: bold;
                        padding-top: 7px;
                      "
                      th:text="${month} + ' ' + ${dayOfMonth}"
                    >
                      May 8
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        height: 30px;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        text-align: center;
                        color: black;
                        font-weight: bold;
                        padding-top: 10px;
                      "
                      th:text="${dayOfWeek}"
                    >
                      Tue
                    </td>
                  </tr>
                </table>
              </td>
              <td style="padding: 10px 20px; vertical-align: middle">
                <span th:utext="'Title : ' + ${title}">Title : Meeting with jk</span>
                <br /><br />
                <span th:utext="'Before: ' + ${before}">Before: 2024-05-15 PM 02:00 - 2024-05-15 PM 03:00</span>
                <br /><br />
                <span th:utext="'After: ' + ${updated}">After: 2024-05-15 PM 02:00 - 2024-05-15 PM 03:00</span>
                <br /><br />
              </td>
              <td style="padding-top: 10px"></td>
            </tr>

            <!-- Footer -->
            <tr>
              <td
                colspan="3"
                style="
                  background-color: #f0f0f0;
                  text-align: center;
                  padding: 20px;
                  border-bottom-left-radius: 10px;
                  border-bottom-right-radius: 10px;
                "
              >
                <a href="https://edgescheduler.co.kr/" style="text-decoration: none">https://edgescheduler.co.kr</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
